body{
  text-align: center;
  background-color: rgb(249, 253, 252);
  padding: 0;
  margin: auto;
}
#logo{
  display: inline;
}
.header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d0e0d;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    margin-top: 50px;  
  }
  .img{
    display: block;
    margin: auto;
  }

  #vehicleDetails {
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #vehicleDetails{
    margin-bottom: 10px;
  }
  
